In [1]:
import os, sys
from python_tools import *

python tools loaded.

In [2]:
gst_df = pd.read_hdf("/Users/wketchum/Data/LDMX/base_generation_with_weights_21Apr_FullAccept.hdf",key="gst_df")

In [3]:
gst_df

,iev,neu,fspl,tgt,Z,A,hitnuc,hitqrk,resid,sea,...,wght_FrPiProd_pi_p1,wght_FrPiProd_pi_p2,wght_MFP_pi_n2,wght_MFP_pi_n1,wght_MFP_pi_p1,wght_MFP_pi_p2,wght_FormZone_n2,wght_FormZone_n1,wght_FormZone_p1,wght_FormZone_p2
0,0,11,11,1000220480,22,48,2112,0,0,False,...,1.0,1.0,1.079574,1.044989,0.950952,0.901745,1.0,1.0,1.0,1.0
1,1,11,11,1000220480,22,48,2212,0,-99,False,...,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0
2,2,11,11,1000220480,22,48,2112,0,0,False,...,1.0,1.0,1.516311,1.205978,0.853719,0.744598,1.0,1.0,1.0,1.0
3,3,11,11,1000220480,22,48,2212,0,6,False,...,1.0,1.0,1.000002,1.000002,0.999985,0.999913,1.0,1.0,1.0,1.0
4,4,11,11,1000220480,22,48,2212,0,-99,False,...,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,11,11,1000220480,22,48,2212,0,-99,False,...,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0
999996,999996,11,11,1000220480,22,48,2212,0,-99,False,...,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0
999997,999997,11,11,1000220480,22,48,2212,0,-99,False,...,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0
999998,999998,11,11,1000220480,22,48,2212,0,-99,False,...,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0
999999,999999,11,11,1000220480,22,48,2212,0,-99,False,...,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0

In [4]:
len(gst_df)

1000000

In [5]:
for i in range(10):
    my_df = gst_df[i*100000:(i+1)*100000]
    print(len(my_df))
    my_df.to_hdf("/Users/wketchum/Data/LDMX/base_generation_with_weights_21Apr_FullAccept_%d.hdf"%i,key="gst_df")

100000

/Library/Python/3.8/site-packages/pandas/core/generic.py:2434: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block3_values] [items->Index(['pdgi', 'resc', 'Ei', 'pxi', 'pyi', 'pzi', 'pdgf', 'Ef', 'pxf', 'pyf',
       'pzf', 'pf', 'cthf', 'thetaxzf', 'thetayzf', 'thetazf', 'kef',
       'accept_n', 'accept_p'],
      dtype='object')]

  pytables.to_hdf(

100000
100000
100000
100000
100000
100000
100000
100000
100000

In [6]:
for c in gst_df.columns:
    print(c)

iev
neu
fspl
tgt
Z
A
hitnuc
hitqrk
resid
sea
qel
mec
res
dis
coh
dfr
imd
imdanh
singlek
nuel
em
cc
nc
charm
amnugamma
neut_code
nuance_code
wght
xs
ys
ts
Q2s
Ws
x
y
t
Q2
W
EvRF
Ev
pxv
pyv
pzv
En
pxn
pyn
pzn
El
pxl
pyl
pzl
pl
cthl
nfp
nfn
nfpip
nfpim
nfpi0
nfkp
nfkm
nfk0
nfem
nfother
nip
nin
nipip
nipim
nipi0
nikp
nikm
nik0
niem
niother
ni
pdgi
resc
Ei
pxi
pyi
pzi
nf
pdgf
Ef
pxf
pyf
pzf
pf
cthf
vtxx
vtxy
vtxz
vtxt
sumKEf
calresp0
ptl
thetal
thetaxzf
thetayzf
thetazf
kef
accept_n
n_n
px_n1
py_n1
pz_n1
E_n1
ke_n1
thetaz_n1
accept_p
n_p
px_p1
py_p1
pz_p1
E_p1
ke_p1
thetaz_p1
wght_FrCEx_N_n2
wght_FrCEx_N_n1
wght_FrCEx_N_p1
wght_FrCEx_N_p2
wght_FrAbs_N_n2
wght_FrAbs_N_n1
wght_FrAbs_N_p1
wght_FrAbs_N_p2
wght_FrInel_N_n2
wght_FrInel_N_n1
wght_FrInel_N_p1
wght_FrInel_N_p2
wght_FrPiProd_N_n2
wght_FrPiProd_N_n1
wght_FrPiProd_N_p1
wght_FrPiProd_N_p2
wght_MFP_N_n2
wght_MFP_N_n1
wght_MFP_N_p1
wght_MFP_N_p2
wght_FrCEx_pi_n2
wght_FrCEx_pi_n1
wght_FrCEx_pi_p1
wght_FrCEx_pi_p2
wght_FrAbs_pi_n2
wght_FrAbs_pi_n1
wght_FrAbs_pi_p1
wght_FrAbs_pi_p2
wght_FrInel_pi_n2
wght_FrInel_pi_n1
wght_FrInel_pi_p1
wght_FrInel_pi_p2
wght_FrPiProd_pi_n2
wght_FrPiProd_pi_n1
wght_FrPiProd_pi_p1
wght_FrPiProd_pi_p2
wght_MFP_pi_n2
wght_MFP_pi_n1
wght_MFP_pi_p1
wght_MFP_pi_p2
wght_FormZone_n2
wght_FormZone_n1
wght_FormZone_p1
wght_FormZone_p2

In [7]:
gst_df[["wght"]]

        wght
0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
...      ...
999995   1.0
999996   1.0
999997   1.0
999998   1.0
999999   1.0

[1000000 rows x 1 columns]

In [8]:
gst_df[["wght_MFP_pi_p1","wght_MFP_pi_n1","wght_MFP_pi_p2","wght_MFP_pi_n2"]]

        wght_MFP_pi_p1  wght_MFP_pi_n1  wght_MFP_pi_p2  wght_MFP_pi_n2
0             0.950952        1.044989        0.901745        1.079574
1             1.000000        1.000000        1.000000        1.000000
2             0.853719        1.205978        0.744598        1.516311
3             0.999985        1.000002        0.999913        1.000002
4             1.000000        1.000000        1.000000        1.000000
...                ...             ...             ...             ...
999995        1.000000        1.000000        1.000000        1.000000
999996        1.000000        1.000000        1.000000        1.000000
999997        1.000000        1.000000        1.000000        1.000000
999998        1.000000        1.000000        1.000000        1.000000
999999        1.000000        1.000000        1.000000        1.000000

[1000000 rows x 4 columns]

In [9]:
gst_df[["kef"]]

                                                      kef
0       [0.022189229636094154, 0.08649329866094735, 0....
1                                  [0.004305370765767758]
2       [0.17230844291100367, 0.03401731966709143, 0.0...
3       [0.10011996964827355, 0.10695485184036102, 0.0...
4                                  [0.010596010607112905]
...                                                   ...
999995      [1.1102230246251565e-16, 0.06161473166189879]
999996      [0.01262980826817739, 1.1102230246251565e-16]
999997     [0.009377099937416533, 1.1102230246251565e-16]
999998                             [0.027910334956359306]
999999                              [0.21836530781690466]

[1000000 rows x 1 columns]